:root {
  --bg-dark: #151719;
  --dark-red: #710707;
  --bg-gold: #9d8665;
  --font1: 80px;
  --font2: 32px;
  --font3: 28px;
  --font4: 22px;
  --font5: 18px;
  --ln-hgt1: 90px;
  --ln-hgt2: 35px;
  --ln-hgt3: 33px;
  --ln-hgt4: 26px;
  --ln-hgt5: 19px;
  --lt-spcg1: 5px;
  --sect-padding: 75px;
  --head-heigth: 150px;
  --welc-heigth: 810px;
}

::-webkit-scrollbar {
  width: 0;
}

html, body, a, p, span, button {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.wrapper {
  width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3 {
  font-family: 'Forum';
  font-style: normal;
}

.container {
  width: 1440px;
  margin: 0px auto;
  padding: 0px;
}

.section {
  margin: 0px;
  padding: 0px;
  padding-top: var(--sect-padding);
  padding-bottom: var(--sect-padding);
}

.dark-section {
  background-color: var(--bg-dark);;
  color: #FFFFFF;
}

.section-title {
  margin: 0px;
  padding: 0px;
  color: var(--bg-gold);
  font-weight: normal;
  font-size: var(--font1);
  line-height: var(--ln-hgt1);
  letter-spacing: var(--lt-spcg1);
  text-transform: uppercase;
}

.dark-section-title {
  color: #FFFFFF;
}

hr {
  margin: 0px;
  margin-top: 22px;
  background-color: var(--dark-red);
  height: 4px;
}

header {
  margin: 0px;
  padding: 0px;
}

.header-container {
  height: var(--head-heigth);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  margin: 0px;
  display: flex;
  flex-direction: row;
  background-image: url("assets/svg/logo.svg");
  background-repeat: no-repeat;
}

h1 {
  margin: 0px;
  padding: 0px;
  padding-left: 75px;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: var(--lt-spcg1);
  text-transform: uppercase;
}

nav {
  margin: 0px;
  padding: 0px;
}

.top-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.top-nav-item {
  margin-right: 55px;
}

.top-nav-item:last-child {
  margin-right: 0px;
}

.nav-link {
  text-decoration: none;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.nav-link:hover {
  color: var(--bg-gold);
  transition: 0.5s;
}

.burger-menu-button {
  display: none;
  cursor: pointer;
}

.stripe1, .stripe2, .stripe3 {
  width: 32px;
  height: 2px;
  background-color: #FFFFFF;
  margin: 6px 0;
  transition: 0.4s;
}

.change .stripe1 {
  --webkit-transform: rotate(-45deg) translate(-10px, 9px);
  transform: rotate(-45deg) translate(-10px, 9px);
}

.change .stripe2 {
  opacity: 0;
}

.change .stripe3 {
  --webkit-transform: rotate(45deg) translate(-1px, -3px);
  transform: rotate(45deg) translate(-1px, -3px);
}

.popup-menu {
  display: none;
  position: absolute;
  top: 130px;
  left: 0px;
  width: 297px;
  height: 585px;
  background-color: var(--bg-dark);
  z-index: 2;
}

.popup-menu > ul {
  flex-direction: column;
  margin-left: 55px;
}

.popup-menu > ul > li {
  margin-bottom: 25px;
}

.welcome-section {
  padding: 0px;
}

.welcome-container {
  position: relative;
  height: var(--welc-heigth);
  /*background-image: url("assets/img/welcome-slider/1.jpg");*/
  background-repeat: no-repeat;
  background-position: calc(100%) calc(0%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.welcome-info {
  margin: 0px;
  margin-top: 150px;
  width: 598px;
  z-index: 1;
}

.welcome-text {
  margin-top: 25px;
  font-weight: 300;
  font-size: var(--font3);
  line-height: var(--ln-hgt3);
  letter-spacing: 2px;
}

.welcome-link {
  margin-top: 75px;
  display: inline-block;
  align-items: center;
  text-align: center;
  font-weight: 300;
  font-size: var(--font4);
  line-height: var(--ln-hgt4);
  letter-spacing: 2px;
  color: #FFFFFF;
  text-decoration: none;
  background: var(--dark-red);
  padding: 25px 64px;
  border-radius: 10px;
}

.welcome-link:hover {
  background-color: var(--bg-gold);
  transition: 0.5s;
}

.welcome-slider-wrapper {
  position: absolute;
  margin: 0px;
  padding: 0px;
  top: 0;
  left: 440px;
  width: 1000px;
  height: 750px;
  z-index: 0;
}

.welcome-slider {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}

.welcome-slider > .slide {
  margin: 0px;
  padding: 0px;
}

.slider-nav {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0px;
  order: 999;
  margin-top: auto;
  width: 600px;
  height: 120px;
  background-color: var(--bg-dark);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-slider-counter {
  margin-left: 74px;
  margin-right: 55px;
}

.top-slider-counter > span {
  font-size: var(--font4);
  line-height: 40px;
  text-transform: uppercase;
  cursor: default;
}

.slider-dots {
  margin: 0px;
  margin-right: 55px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.slider-dots li {
  margin-right: 20px;
}

.slider-dots li:last-child {
  margin-right: 0px;
}

.slider-dots li button {
  width: 16px;
  height: 16px;
  background-color: #FFFFFF;
  border: none;
  color: transparent;
  margin-right: 5px;
  cursor: pointer;
}

.slider-dots li button:hover {
  background-color: var(--bg-gold);
  transition: 0.5s;
}

.slider-dots li.slick-active button {
  background-color: var(--bg-gold);
}

.arrow-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-arrow-button {
  margin: 0px;
  margin-right: 20px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none; 
  background-color: black;
  width: 30px;
  height: 8px;
  cursor: pointer;
}

.rigth-arrow-button {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none; 
  background-color: black;
  width: 30px;
  height: 8px;
  cursor: pointer;
}

.tour-link {
  text-decoration: none;
  color:#000000;
}

.tour-items {
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 60px;
  row-gap: 75px;
}

.tour-title {
  margin: 0px;
  margin-top: 23px;
  margin-bottom: 22px;
  position: relative;
  font-weight: normal;
  font-size: var(--font2);
  line-height: var(--ln-hgt2);
  letter-spacing: 5px;
  text-transform: uppercase;
}

.tour-title::after {
  content: "";
  position: absolute;
  width: 300px;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #710707;
}

.tour-link:hover .tour-title::after{
  width: 100%;
  transition: 2s;
}

.tour-link .tour-title::after{
  width: 300px;
  transition: 2s;
}

.tour-info-header {
  margin: 0px;
  font-weight: 200;
  font-size: var(--font4);
  line-height: var(--ln-hgt4);
}

.tour-info-footer {
  margin: 0px;
  margin-top: 10px;
  font-weight: 200;
  font-size: var(--font5);
  line-height: var(--ln-hgt5);
}

.explore-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.explore-info > .section-title {
  position: relative;
}

.explore-info > .section-title::after {
  content: "";
  position: absolute;
  width: 660px;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--dark-red);
}

.explore-text {
  margin: 0;
  margin-top: 105px;
  width: 655px;
  font-weight: 300;
  font-size: var(--font4);
  line-height: 38px;
}

.explore-text > p {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 300;
}

.explore-text > p:last-child {
  margin-bottom: 0px;
}

.explore-text > p > span {
  color: var(--bg-gold);
}

.explore-slider {
  margin: 0px;
  padding: 0px;
  margin-top: 15px;
  position:relative;
  overflow:hidden;
}

.after-slide {
  display:block
}

.before-slide {
  position:absolute;
  height:100%;
  width:50%;
  top:0;
  left:0;
  overflow:hidden;
  z-index:2;
}

.resizer {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 5;
  top: 0;
  left: 48%;
  height: 100%;
  width: 39px;
  background: url("assets/img/explore-slider/explore_resizer.png") no-repeat top center;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  cursor: ew-resize;
}

.video-section {
  padding-top: 70px;
}

.video-container {
  margin: 0px auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.video-header {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.video-text {
  margin-top: 5px;
  max-width: 720px;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
}

.main-video {
  margin: 0px;
  margin-top: 75px;
  padding: 0px;
  position: relative;
}

.video-start {
  position: absolute;
  margin: 0px;
  padding: 0px;
  top: 29%;
  left: 42%;
  width: 220px;
  height: 220px;
  background: transparent;
  border: 7px solid #FFFFFF;
  border-radius: 50%;
  background-image: url("assets/svg/play.svg");
  background-position: 60% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.video-player {
  width: 1440px;
  height: 650px;
  object-fit: fill;
  margin: 0px;
  padding: 0px;
}

.full-video {
  width: 100%;
  height: calc(100% - 85px);
}

.player-control {
  margin: 0px;
  margin-top: -5px;
  padding: 0px;
  height: 85px;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.play {
  width: 23px;
  height: 31px;
  background-color: transparent;
  border: none;
  background-image: url("./assets/svg/play_button.svg");
  background-repeat: no-repeat;
}

.mute {
  width: 38px;
  height: 31px;
  background-color: transparent;
  border: none;
  background-image: url("./assets/svg/volume.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 0px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background:#ffffff;
  cursor: pointer;
  margin-top: -6px;
  -webkit-appearance: none;
}

#progress {
  width: 929px !important;
}

#volume {
  background: #710707;
}

.fullscreen {
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
  background-image: url("./assets/svg/fullscreen.svg");
  background-repeat: no-repeat;
}

.video-slider-wrapper {
  margin: 0px;
  margin-top: 40px;
}

.video-playlist {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.video-item {
  margin: 0px;
  margin-right: 42px;
  position: relative;
}

.video-item:last-child {
  margin-right: 0px;
}

.youtube-icon {
  position: absolute;
  padding: 0px;
  top: 35%;
  left: 38%;
  width: 68px;
  height: 48px;
  border: none;
  background: transparent;
  background-image: url("assets/svg/youtube_icon.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.playlist-control {
  margin: 0px auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.playlist-control .slider-dots {
  margin: 0px;
  margin-right: 15px;
}

.playlist-control .slider-dots li {
  margin: 0px;
  margin-right: 15px;
}

.playlist-control .slider-dots li:last-child {
  margin: 0px;
  margin-right: 0px;
}

.playlist-control .slider-dots li button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #999999;
  border: none;
  color: transparent;
  cursor: pointer;
}

.playlist-control .slider-dots li.slick-active button {
  background-color: #333333;
}

.left-switch {
  margin: 0px;
  margin-right: 25px;
  padding: 0px;
  border: none;
  outline: none; 
  background-image: url("assets/svg/left.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 12px;
  cursor: pointer;
}

.rigth-switch {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none; 
  background-image: url("assets/svg/rigth.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 12px;
  cursor: pointer;
}

.gallery-section {
  padding-bottom: 0px;
}

.picture-container {
  position: relative;
  margin-top: 75px;
  padding: 0px;
  height: 1960px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.picture-inner-container {
  display: flex;
  flex-direction: column;
  max-height: 3000px;
  flex-wrap: wrap;
  column-count: 3;
  column-gap: 36px;
}

.picture-inner-container > img {
  margin-bottom: 24px;
}

.picture-inner-container > img:first-child {
  margin-top: 50px;
}

.picture-inner-container > img:nth-child(11) {
  margin-top: 50px;
}

.tickets-content {
  margin: 0px;
  margin-top: 75px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tickets-section .tickets-form {
  width: 660px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tickets-form-header {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}

.tickets-section .tickets-form .tickets-form-header {
  margin: 0px;
  margin-bottom: 25px;
}


.tickets-section .ticket-type-selectors {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.tickets-section .ticket-type-selectors .tickets-form-header {
  margin-bottom: 50px;
}

.tickets-section .radio-container {
  margin: 0px;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  padding-left: 45px;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tickets-section .radio-container > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.tickets-section .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 2px solid #000000;
  cursor: pointer;
}

.tickets-section .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.tickets-section .radio-container input:checked ~ .checkmark:after {
  display: block;
}

.tickets-section .radio-container .checkmark:after {
 	top: 4px;
	left: 4px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #000000;
}

.tickets-section .tickets-form .tickets-counters {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tickets-section .tickets-form > .tickets-counters > .counter-label {
  margin: 0px;
  margin-bottom: 15px;
  width: 150px;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: left;
}

.tickets-section .tickets-form > .tickets-counters > .ticket-counter {
  display: flex;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  width: 144px;
  height: 44px;
  border: 3px solid #000000;
  align-items: center;
  justify-content: space-evenly;
}

.tickets-section .ticket-counter > button {
  margin: 0px;
  padding: 0px;
  background-color: #FFFFFF;
  border: none;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  cursor: pointer;
  -webkit-appearance: none;
}

.tickets-section .ticket-counter > button:first-child {
  margin-top: -4px;
}

.tickets-section .ticket-counter > input {
  margin: 0px;
  margin-left: -5px;
  margin-right: -5px;
  padding: 0px;
  max-width: 50px;
  border: none;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.tickets-section .total-price {
  margin: 0px;
  margin-top: 35px;
  padding: 0px;
  width: 150px;
  text-align: left;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1.65px;
}

.tickets-section .tickets-form .buy {
  margin: 0px;
  margin-top: 55px;
  width: 175px;
  height: 50px;
  border: none;
  background-color: #000000;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
}

.parallax {
  width: 100%;
  height: 400px;
  background-image: url("./assets/img/parallax.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.contacts-content {
  margin: 0px;
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.organization-name {
  margin: 0px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: var(--font3);
  line-height: var(--ln-hgt3);
}

.contact-info {
  margin: 0px;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: var(--font4);
  line-height: var(--ln-hgt4);
}

.contact-link {
  text-decoration: none;
  color: #000000;
  font-weight: 300;
  font-size: var(--font4);
  line-height: var(--ln-hgt4);
}

.map {
  margin: 0px;
  padding: 0px;
  width: 960px;
  height: 620px;
}

.marker {
  background-image: url('./assets/svg/greyMarker.svg');
  background-size: cover;
  width: 30px;
  height: 35px;
  cursor: pointer;
}

#marker {
  background-image: url('./assets/svg/blackMarker.svg');
}
   
.mapboxgl-popup {
  max-width: 200px;
}

.main-footer {
  padding: 0px;
  padding-top: 85px;
  padding-bottom: 52px;
}

.footer-content {
  display: flex;
  padding-bottom: 0px;
}

.footer-title {
  margin: 0px;
  display: flex;
  flex-direction: row;
  background-image: url("assets/svg/logo.svg");
  background-repeat: no-repeat;
}

.footer-name {
  margin: 0px;
  margin-right: 145px;
  padding: 0px;
  padding-left: 75px;
  font-family: 'Forum';
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.footer-nav {
  display: flex;
  flex-direction: row;
}

.footer-nav-list {
  margin: 0px;
  padding: 0px;
  height: 180px;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 165px;
}

.footer-nav-item {
  margin-bottom: 25px;
}

.footer-nav-item:last-child {
  margin-bottom: 0px;
}

.social-icons {
  margin: 0px;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
  padding-bottom: 50px;
}

.social-links {
  margin: 0px;
  margin-left: 650px;
  display: flex;
  align-items: flex-end;
}

.social-icons > li {
  margin-right: 25px;
}

.social-icons > li:last-child {
  margin-right: 0px;
}

.main-footer hr {
  margin: 0px;
  background-color: #666666;
  border: none;
  height: 3px;
}

.footer-info {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-info-text {
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  cursor: default;
}

.footer-info-link {
  color:#FFFFFF;
  text-decoration: none;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}

.footer-info-link:hover {
  color: var(--bg-dark);
  transition: 0.5s;
}

.social-icon > svg {
  border: 1px solid #666666;
  filter: drop-shadow(0px 0px 0px #666666);
  border-radius: 50%;
}

.social-icon-youtube > svg {
  padding: 11px 12px;
}

.social-icon-insta > svg {
  padding: 11px 12px;
}

.social-icon-fb > svg {
  padding: 13px 17px;
}

.social-icon-twit > svg {
  padding: 14px 13px;
}

.social-icon-pint > svg {
  padding: 13px 14px;
}

.hidden {
  display: none;
}

.popup-form {
  width:100%;
  min-height:100%;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

.full-form-container {
  margin-top: 65px;
  background-color: #FFFFFF;
  position: relative;
}

.form-container {
  width: 970px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 91px 90px;
}

.boocking-info {
  max-width: 400px;
}

.form-title {
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: inherit;
  text-transform: uppercase;
}

.form-title-text {
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
  font-size: 18px;
  line-height: 21px;
  color: var(--dark-red);
}

.info-form {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-container > .boocking-info > hr {
  margin: 0px;
  margin-bottom: 60px;
}

.data-time {
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
  width: 100%;
  border: none;
  display: flex;
  justify-content: space-between;
}

.popup-form input {
  height: 41px;
  border: 1px solid #030303;
  margin-bottom: 20px;
  -webkit-date-placeholder: none; 
}

.data-time > input {
  margin: 0px;
  width: 150px;
}

.info-form svg {
  text-align: center;
  margin-top: 15px;
  margin-right: -50px;
  padding-left: 10px;
  position: relative;
  z-index: 1;
  float: left;
}

.info-form svg + input {
  padding-left: 35px;
}

#date, #time {
  background: url("./assets/svg/arrow.svg") no-repeat right center;
  background-position: bottom 13px right 13px;
}

input::placeholder {
  color: #030303;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.input-block {
  display: flex;
  flex-direction: row;
}

.input-block svg {
  margin-right: -22px;
}

.email-input svg {
  margin-top: 18px;
  margin-right: -24px;
}

.tel-input svg {
  margin-top: 10px;
}

.input-block > input {
  width: 400px;
}

.select-block > svg {
  margin-right: -25px;
}

.ticket-type-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("./assets/svg/arrow.svg") no-repeat right center;
  background-position: bottom 13px right 13px;
  width: 400px;
  height: 44px;
  border: 1px solid #030303;
  margin-bottom: 20px;
  padding-left: 45px;
  font-size: 18px;
  line-height: 21px;
}

.ticket-type-select::-ms-expand {
  display: none;
}

.ticket-counters-block {
  width: 368px;
  padding: 10px 15px;
  border: 1px solid #030303;;
}

.boocking-info > svg {
  margin: 0px;
  margin-bottom: -5px;
}

.boocking-info > hr {
  height: 3px;
}

.form-ticket-counters-title {
  margin: 0px;
  color: #9D8665;
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
}

.form-ticket-counters {
  margin: 0px;
  margin-top: 15px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  border: none;
  justify-content: space-between;
  align-items: center;
}

.ticket-counters-block > hr {
  margin: 0px;
  margin-top: 5px;
  height: 2px;
  opacity: 0.9;
}

.form-ticket-counters > .counter-label {
  margin-bottom: 0px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.form-ticket-counters > .counter-label:first-child {
  padding-bottom: 8px;
}

.form-ticket-counters > .ticket-counter {
  margin-bottom: 15px;
  background-color: #000000;
  width: 105px;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #000000;
}

.form-ticket-counters > .ticket-counter:last-child {
  margin-bottom: 0px;
}

.form-ticket-counters button {
  background-color: #000000;
  color: #FFFFFF;
  height: 18px;
  border: none;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 23px;
  line-height: 24px;
  text-align: center;
}

.form-ticket-counters > .ticket-counter > input {
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
  max-width: 25px;
  max-height: 25px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  border: none;
  text-align: center;
}

.pay-info {
  width: 470px;
  border: 1px solid #030303;
  padding: 25px 30px 26px 30px;
}

.overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.overview-title {
  margin: 0px;
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #272727;
}

.overview-text {
  margin: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #740C11;
  opacity: 0.9;
}

.visit-day-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 6px;
}

.visit-day-info:last-child {
  margin-bottom: 0px;
}

.visit-day-info > svg {
  margin-top: 3px;
  margin-right: 15px;
}

.visit-day-info > p {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.ticket-outcome {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 22px;
}

.total-tickets-number {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  margin-bottom: 8px;
}

.total-tickets-number > p {
  margin: 0px;
  font-size: 22px;
  line-height: 26px;
}

.total-tickets-number > input {
  margin: 0px;
  margin-right: 10px;
  padding: 0px;
  padding-top: 2px;
  max-width: 32px;
  height: 18px;
  border: none;
  border-radius: 5px;
  background-color: #030303;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #A4A4A3;
  cursor: default;
}

.ticket-outcome > p {
  margin-bottom: 8px;
  width: 50%;
  text-align: right;
  font-size: 22px;
  line-height: 26px;
}

.outcome > hr {
  margin: 0px;
  margin-bottom: 10px;
  height: 2px;
}

.total-price {
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.total-price > p {
  margin: 0px;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
}

.pay-form {
  margin: 10px auto 26px;
  width: 470px;
  position: relative;
}

.pay-form input {
  width: 100%;
  margin: 0px;
  margin-top: 5px;
  padding: 0px;
  padding-left: 10px;
  height: 35px;
  border: none;
  font-size: 12px;
  line-height: 14px;
  color: #161615;
}

.card-front {
  background-color: #BCBCBC;
  padding: 15px 20px;
  z-index: 1;
}

.card-back {
  top: 30px;
  right: 0;
  z-index: 0;
  background-color: #939393;
}

.card-front,
.card-back {
  position: absolute;
  width: 360px;
  height: 211px;
  border-radius: 6px;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #161615;
}

.first-card-block {
  margin: 0px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-main-info {
  width: 215px;
}

#card-number {
  width: 205px;
  margin-bottom: 10px;
}

.exp-container > label {
  width: 100%;
}

.exp-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.exp-container input {
  width: 90px;
}

.exp-container input[type="number"]::-webkit-outer-spin-button, 
.exp-container input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  background: #FFFFFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
  width: 20px;
  border-left: 0.5px solid #A4A4A3;
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.pay-systems {
  margin-top: 20px;
}

#card-holder {
  width: 310px;
}

.card-stripe {
  margin-top: 25px;
  width: 100%;
  height: 45px;
  background-color: #161615;
}

.cvc-container {
  display: flex;
  flex-direction: column;
  width: 75px;
  position: relative;
  top: 15px;
  left: 265px;
  align-items: center;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #161615;
}

#card-cvc {
  width: 65px;
  margin-bottom: 6px;
}

.book-button {
  margin: 0px;
  position: relative;
  margin-top: 250px;
  margin-left: 250px;
  width: 220px;
  height: 45px;
  background: #710707;
  opacity: 0.9;
  border: none;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin-right: 5px;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.book-button:hover {
  background-color: #9D8665;
  transition: 0.5s;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  :root {
    --font1: 50px;
    --font2: 28px;
    --font3: 24px;
    --font4: 20px;
    --font5: 16px;
    --ln-hgt1: 75px;
    --ln-hgt2: 31px;
    --ln-hgt3: 28px;
    --ln-hgt4: 23px;
    --ln-hgt5: 19px;
    --lt-spcg1: 5px;
    --sect-padding: 60px;
    --head-heigth: 130px;
    --welc-heigth: 585px;
  }

  .wrapper {
    width: 100%;
  }

  .container {
    width: 984px;
  }

  hr {
    margin: 0px;
    margin-top: 20px;
    background-color: var(--dark-red);
    height: 3px;
  }

  .header-nav {
    display: none;
  }

  .burger-menu-button {
    width: 32px;
    height: 30px;
    display: inline-block;
  }

  .welcome-container {
    background-size: 700px 525px;
  }

  .welcome-title {
    line-height: 90px;
  }

  .welcome-info {
    margin: 0px;
    margin-top: 50px;
    min-width: 396px;
  }

  .welcome-link {
    margin-top: 50px;
    padding: 18px 45px;
    font-size: var(--font4);
    line-height: var(--ln-hgt4);
  }

  .slider-nav {
    min-width: 700px;
  }

  .top-slider-counter {
    margin-left: 224px;
    margin-right: 45px;
  }

  .slider-dots {
    margin: 0px;
    margin-right: 40px;
  }

  .slider-dots li button {
    width: 12px;
    height: 12px;
  }

  .tour-items {
    margin-top: 58px;
    padding: 0 83px;
    justify-content: space-around;
    row-gap: 57px;
  }

  .tour-item {
    width: 330px;
  }

  .tour-pic {
    width: 330px;
    height: 215px;
  }
  
  .colonade-title, .mona-lisa-title, .night-palace-title {
    letter-spacing: 3px;
  }

  .tour-title::after {
    width: 150px;
    height: 4px;
  }

  .tour-link .tour-title::after{
    width: 150px;
    transition: 2s;
  }

  .explore-container {
    flex-direction: column;
  }

  .explore-info {
    width: 100%;
  }

  .explore-info > .section-title::after {
    width: 984px;
  }

  .explore-text {
    margin-top: 83px;
    width: 100%;
    line-height: 37px;
  }

  .explore-text > p {
    margin: 0;
  }

  .explore-text > p:last-child {
    display: none;
  }

  .explore-slider {
    margin: 0px auto;
    margin-top: 62px;
  }

  .video-section {
    padding-top: 55px;
  }

  .video-text {
    display: none;
  }

  .main-video {
    margin-top: 40px;
  }

  .player {
    width: 100%;
    height: 444px;
  }

  .video-start {
    width: 152px;
    height: 152px;
    background-image: url("assets/svg/play_1024.svg");
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    background-position: 60% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .player-control {
    padding: 0px 25px;
    height: 60px;
  }

  .play {
    height: 30px;
    background-image: url(./assets/svg/play_button_1024.svg);
  }

  .progress {
    width: 564px;
    border-top: 4px solid #000000;
    border-bottom: 4px solid #000000;
    height: 5px;
    cursor: pointer;
    -webkit-appearance: none;
  }

  .progress::-webkit-slider-thumb {
    width: 13px;
    height: 13px;
  }

  .mute {
    width: 26px;
    height: 20px;
    background-image: url(./assets/svg/volume_1024.svg);
  }

  .volume {
    width: 143px;
    height: 7px;
  }
  
  .volume::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    background: #710707;
    -webkit-appearance: none;
  }

  .fullscreen {
    width: 26px;
    height: 26px;
    background-image: url("./assets/svg/fullscreen_1024.svg");
  }

  .video-item img {
    width: 300px;
    height: 170px;
  }

  .gallery-section {
    position: relative;
    max-height: 1460px;
    overflow-y: hidden;
  }

  .picture-container {
    max-height: 1265px;
    margin-top: 60px;
  }

  .picture-inner-container {
    max-height: 2020px;
  }

  .picture-inner-container img {
    width: 304px;
  }

  .picture-inner-container > img:nth-child(11) {
    margin-top: 0px;
  }

  .picture-inner-container > img:nth-child(11) {
    margin-top: 50px;
  }

  .tickets-content {
    margin-top: 57px;
  }

  .tickets-img {
    width: 700px;
    height: 440px;
  }

  .tickets-form {
    width: 175px;
    margin-right: 25px;
  }

  .ticket-type-selectors {
    display: none;
  }

  .tickets-form .tickets-counters {
    width: 175px;
    align-items: flex-start;
  }

  .tickets-form .tickets-form-header {
    margin-bottom: 28px;
  }

  .tickets-form > .tickets-counters > .counter-label {
    margin-bottom: 10px;
  }

  .tickets-form > .tickets-counters > .ticket-counter {
    width: 170px;
    justify-content: space-around;
    margin-bottom: 30px;
  }

  .tickets-form > .tickets-counters > .total-price {
    width: 175px;
    margin-top: -5px;
    margin-bottom: 15px;
  }

  .tickets-form .buy {
    letter-spacing: 0px;
  }
  
  .parallax {
    width: 1024px;;
    height: 400px;
    background-position: center;
  }

  .contacts-content {
    margin-top: 57px;
  }

  .organization-name {
    margin-bottom: 35px;
  }

  .contact-info {
    margin-bottom: 15px;
  }

  .map {
    width: 694px;
    height: 454px;
  }

  .main-footer {
    padding-top: 65px;
    padding-bottom: 50px;
  }

  .footer-content {
    padding-bottom: 20px;
  }
  .footer-name {
    margin-right: 40px;
  }

  .footer-nav-list {
    margin-top: 5px;
    height: 158px;
    column-gap: 121px;
  }

  .social-icons {
    padding-bottom: 25px;
  }

  .social-icons > li {
    margin-right: 23px;
  }

  .social-links {
    margin-left: 300px;
  }

  .popup-form {
    width: 1024px;
  }

  .full-form-container {
    width: 1024px;
    margin-top: 20px;
    overflow-x: hidden;
    background-color: #FFFFFF;
    position: relative;
  }

  .form-container {
    padding: 75px 27px 28px 27px;
  }

  .form-ticket-counters {
    margin-top: 10px;
    padding-bottom: 5px;
  }
}

@media (max-width: 768px) {
  :root {
    --font1: 40px;
    --font2: 24px;
    --font3: 20px;
    --font4: 16px;
    --font5: 16px;
    --ln-hgt1: 60px;
    --ln-hgt2: 28px;
    --ln-hgt3: 23px;
    --ln-hgt4: 19px;
    --ln-hgt5: 19px;
    --lt-spcg1: 5px;
    --sect-padding: 40px;
    --head-heigth: 110px;
    --welc-heigth: 861px;
  }

  .wrapper {
    width: 100%;
  }

  .container {
    width: 728px;
  }

  hr {
    margin: 0px;
    margin-top: 20px;
    background-color: var(--dark-red);
    height: 3px;
  }

  .welcome-container {
    background-size: 728px 546px;
    background-position: 0px 215px;
    flex-direction: column;
    align-items: center;
  }

  .welcome-title {
    line-height: 60px;
  }

  .welcome-info {
    width: 100%;
    margin-top: 0px;
    text-align: center;
  }

  .welcome-link {
    display: none;
  }

  .slider-nav {
    min-width: 100%;
    height: 100px;
    justify-content: center;
  }

  .top-slider-counter {
    margin-left: 0px;
  }

  .tour-items {
    margin-top: 38px;
    padding: 0px 54px 40px;
    justify-content: space-around;
    row-gap: 40px;
  }

  .tour-item {
    width: 280px;
  }

  .tour-pic {
    width: 280px;
    height: 180px;
  }
  
  .tour-title {
    margin-top: 19px;
    letter-spacing: 2px;
  }

  .tour-title::after {
    width: 150px;
    height: 2px;
  }

  .tour-link .tour-title::after{
    width: 150px;
    transition: 2s;
  }

  .tour-info-header {
    font-size: 18px;
    line-height: 21px;
  }

  .tour-info-footer {
    margin: 0px;
    margin-top: 8px;
  }

  .explore-container {
    flex-direction: column;
  }

  .explore-info {
    width: 100%;
  }

  .explore-info > .section-title::after {
    width: 728px;
  }

  .explore-text {
    display: none;
  }

  .explore-slider {
    margin: 0px auto;
    margin-top: 62px;
  }

  .explore-slider img {
    width: 728px;
    height: 705px;
  }

  .video-section {
    padding-top: 40px;
    padding-bottom: 78px;
  }

  .main-video {
    margin-top: 19px;
  }

  .player {
    width: 100%;
    height: 329px;
  }

  .video-start {
    top: 32%;
    left: 45%;
    width: 80px;
    height: 80px;
    background-image: url("assets/svg/play_768.svg");
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    background-position: 60% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .player-control {
    position: relative;
    margin-top: -8px;
    padding: 0px 30px;
    height: 60px;
    justify-content: space-between;
    z-index: 2;
  }

  .play {
    height: 29px;
    background-image: url(./assets/svg/play_button_768.svg);
  }

  .progress {
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0;
    left: 0;
    border: none;
    width: 100%;
    height: 5px;
    cursor: pointer;
    -webkit-appearance: none;
  }

  .progress::-webkit-slider-thumb {
    width: 13px;
    height: 13px;
  }

  .mute {
    width: 27px;
    height: 21px;
    background-image: url(./assets/svg/volume_1024.svg);
  }

  .volume {
    width: 468px;
    height: 5px;
    border-top: 4px solid #030303;
    border-bottom: 4px solid #030303;
  }
  
  .volume::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
  }

  .fullscreen {
    width: 27px;
    height: 27px;
    background-image: url("./assets/svg/fullscreen_1024.svg");
  }

  .video-playlist {
    margin-top: 19px;
    overflow-x: hidden;
  }

  .video-item {
    margin-right: 20px;
  }

  .video-item img {
    width: 354px;
    height: 199px;
  }

  .youtube-icon {
    top: 36%;
    left: 40%;
  }

  .playlist-control {
    margin-top: 12px;
  }

  .playlist-control .slider-dots li button {
    width: 10px;
    height: 10px;
  }

  .gallery-section {
    position: relative;
    max-height: 1220px;
    overflow-y: hidden;
  }

  .picture-container {
    max-height: 1080px;
    margin-top: 40px;
    overflow-x: hidden;
  }

  .picture-inner-container {
    max-height: 2020px;
    column-gap: 24px;
  }

  .picture-inner-container img {
    width: 352px;
  }

  .picture-inner-container > img:nth-child(11) {
    margin-top: 0px;
  }

  .picture-inner-container > img:nth-child(11) {
    margin-top: 50px;
  }

  .tickets-content {
    margin-top: 38px;
  }

  .tickets-img {
    width: 444px;
    height: 340px;
  }

  .tickets-form {
    margin-right: 50px;
  }

  .tickets-form .tickets-form-header {
    margin-bottom: 36px;
  }

  .tickets-form > .tickets-counters > .counter-label {
    margin-bottom: 10px;
  }

  .tickets-form > .tickets-counters > .ticket-counter {
    width: 170px;
    justify-content: space-around;
    margin-bottom: 25px;
  }

  .tickets-form > .tickets-counters > .total-price {
    width: 175px;
    margin-top: 15px;
  }
  
  .tickets-form .buy {
    margin-top: 25px;
  }

  .parallax {
    width: 768px;
    height: 300px;
    background-position: center;
  }

  .contacts-content {
    margin-top: 38px;
    margin-bottom: 17px;
    flex-direction: column;
  }

  .organization-name {
    margin-bottom: 50px;
  }

  .contact-info {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 21px;
  }

  .contact-link {
    font-size: 18px;
    line-height: 21px;
  }

  .map {
    margin-top: 25px;
    width: 728px;
    height: 476px;
  }

  .main-footer {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .footer-content {
    flex-wrap: wrap;
  }

  .footer-name {
    margin-right: 96px;
  }

  .footer-nav-list{
    margin-top: 9px;
    height: 138px;
    column-gap: 184px;
  }

  .footer-nav-item > .nav-link {
    font-size: 18px;
    line-height: 21px;
  }

  .social-icons > li {
    margin-right: 23px;
  }

  .social-links {
    margin-top: 23px;
    margin-left: 300px;
  }

  .main-footer hr{
    margin-top: -7px;
    height: 1px;
    border: none;
  }

  .footer-info {
    padding-top: 40px;
  }

  .popup-form {
    width: 100%;
  }

  .full-form-container {
    width: 590px;
    height: 1479px;
    margin-top: 0px;
    overflow-y: scroll;
  }

  .form-container {
    width: 530px;
    height: 2000px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 75px 30px 28px 30px;
    overflow-y: scroll;
  }

  .boocking-info {
    max-width: 530px;
  }

  .info-form {
    width: 530px;
    margin-bottom: 50px;
  }

  .form-container > .boocking-info > hr {
    width: 100%;
    margin-bottom: 40px;
  }

  .popup-form input {
    width: 500px;
    height: 41px;
    border: 1px solid #030303;
    margin-bottom: 20px;
    -webkit-date-placeholder: none; 
  }

  .data-time > input {
    width: 210px;
    margin-bottom: 0px;
  }

  .ticket-type-select {
    width: 530px;
  }

  .ticket-counters-block {
    width: 500px;
  }

  .form-ticket-counters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-bottom: 5px;
  }

  .form-ticket-counters > .counter-label {
    margin-right: 100px;
  }

  .form-ticket-counters > .ticket-counter > input {
    padding-left: 5px;
    padding-right: 5px;
    width: 35px;
  }

  .pay-info {
    width: 500px;
    border: 1px solid #030303;
    padding: 25px 15px 26px 15px;
  }

  .ticket-outcome {
    margin-top: 25px;
    padding-bottom: 5px;
  }

  .total-tickets-number {
    margin-bottom: 3px;
  }

  .total-tickets-number > input {
    height: 18px;
    margin-bottom: 0px;
  }

  .total-tickets-number > p {
    padding: 0px;
    font-size: 22px;
    line-height: 26px;
  }

  .ticket-outcome > p {
    margin-bottom: 0px;
  }

  .pay-form {
    margin: 14px auto 29px;
    width: 500px;
    position: relative;
  }

  .pay-form input {
    width: 100%;
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
    padding-left: 10px;
    height: 35px;
    border: none;
    font-size: 12px;
    line-height: 14px;
    color: #161615;
  }

  .exp-container input {
    width: 90px;
  }
  .book-button {
    margin-left: 280px;
  }

  .close {
    top: 25px;
    right: 25px;
  }
}

@media (max-width: 420px) {
  :root {
    --font1: 28px;
    --font2: 18px;
    --font3: 16px;
    --font4: 16px;
    --font5: 16px;
    --ln-hgt1: 40px;
    --ln-hgt2: 20px;
    --ln-hgt3: 19px;
    --ln-hgt4: 19px;
    --ln-hgt5: 19px;
    --lt-spcg1: 5px;
    --sect-padding: 40px;
    --head-heigth: 90px;
    --welc-heigth: 544px;
  }

  .wrapper {
    width: 100%;
  }

  .container {
    width: 380px;
  }

  h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 5px;
    padding-left: 55px;
  }

  .header-title {
    background-image: url("assets/svg/logo_420.svg");
  }

  hr {
    margin: 0px;
    margin-top: 20px;
    background-color: var(--dark-red);
    height: 3px;
  }

  .welcome-container {
    background-size: 380px 285px;
    background-position: 0px 180px;
    flex-direction: column;
    align-items: center;
  }

  .welcome-title {
    margin-top: 5px;
    line-height: 40px;
  }

  .welcome-info {
    width: 100%;
    margin-top: 0px;
    text-align: center;
  }

  .welcome-link {
    display: none;
  }

  .slider-nav {
    margin: 0px;
    padding: 0px;
    bottom: 0;
    left: 0;
    width: 380px;
    height: 80px;
    justify-content: center;
    align-items: center;
  }

  .top-slider-counter {
    margin-right: 17px;
  }

  .top-slider-counter > span {
    font-weight: normal;
    font-size: 16px;
  }

  .slider-dots {
    margin: 0px;
    margin-right: 20px;
  }

  .slider-dots li {
    margin-right: 5px;
  }

  .slider-dots li:last-child {
    margin-right: 0px;
  }

  .slider-dots li button {
    width: 7px;
    height: 7px;
  }

  .left-arrow-button {
    margin-right: 15px;
  }

  .left-arrow-button, .rigth-arrow-button {
    width: 20px;
    height: 8px;
  }
  
  .visiting-section {
    padding-bottom: 0px;
  }

  .tour-title {
    margin-top: 20px;
    letter-spacing: 5px;
    margin-bottom: 22px;
  }

  .tour-title::after {
    width: 150px;
    height: 2px;
    bottom: -13px;
  }

  .tour-link .tour-title::after{
    width: 150px;
    transition: 2s;
  }

  .tour-info-header {
    font-size: var(--font4);
    line-height: var(--ln-hgt4);
    margin-bottom: 3px;
  }

  .tour-info-footer {
    margin-bottom: 3px;
  }

  .explore-info > .section-title::after {
    width: 380px;
    bottom: -23px;
  }

  .explore-slider img {
    width: 380px;
    height: 368px;
  }

  .video-section {
    padding-top: 36px;
    padding-bottom: 35px;
  }

  .main-video {
    margin-top: 18px;
  }

  .player {
    width: 100%;
    height: 172px;
  }

  .video-start {
    top: 27%;
    left: 43%;
    width: 50px;
    height: 50px;
    background-image: url("assets/svg/play_420.svg");
  }

  .player-control {
    position: relative;
    padding: 0px 20px;
    height: 63px;
    justify-content: space-between;
    z-index: 2;
  }

  .play {
    height: 18px;
    background-image: url("./assets/svg/play_button_420.svg");
  }

  .progress {
    height: 4px;
  }

  .progress::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
  }

  .mute {
    width: 18px;
    height: 14px;
    background-image: url("./assets/svg/volume_420.svg");
    margin-left: -3px;
  }

  .volume {
    width: 200px;
    height: 4px;
    border-top: 3px solid #030303;
    border-bottom: 3px solid #030303;
  }
  
  .volume::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
  }

  .fullscreen {
    width: 18px;
    height: 18px;
    background-image: url("./assets/svg/fullscreen_420.svg");
  }

  .video-playlist {
    margin-top: 35px;
    overflow-x: hidden;
  }

  .video-item {
    margin-right: 20px;
  }

  .video-item img {
    width: 180px;
    height: 101px;
  }

  .youtube-icon {
    top: 25%;
    left: 30%;
  }

  .playlist-control {
    margin-top: 28px;
  }

  .playlist-control .slider-dots li button {
    width: 8px;
    height: 8px;
  }

  .left-switch {
    background-image: url("assets/svg/left_420.svg");
    width: 7px;
    height: 8px;
  }

  .rigth-switch {
    background-image: url("assets/svg/rigth_420.svg");
    width: 7px;
    height: 8px;
  }

  .gallery-section {
    max-height: 757px;
  }

  .picture-container {
    height: 637px;
    margin-top: 40px;
    overflow-x: hidden;
  }

  .picture-inner-container {
    max-height: 1200px;
    column-gap: 24px;
  }

  .picture-inner-container img {
    width: 178px;
  }

  .tickets-content {
    flex-direction: column;
    align-items: center;
    margin-top: 38px;
  }

  .tickets-img {
    width: 380px;
    height: 160px;
  }

  .tickets-form {
    margin-top: 40px;
    margin-right: 0px;
  }

  .tickets-form .tickets-counters {
    align-items: center;
  }

  .tickets-form .tickets-form-header {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 21px;
  }

  .tickets-form > .tickets-counters > .counter-label {
    padding: 0px;
    margin: 0px;
    margin-left: -25px;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
  }

  .tickets-form > .tickets-counters > .ticket-counter {
    width: 170px;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .tickets-form > .tickets-counters > .total-price {
    width: 90px;
    font-size: 16px;
    line-height: 19px;
    margin-top: 20px;
    letter-spacing: 0px;
  }
  
  .tickets-form .buy {
    font-size: 16px;
    line-height: 0px;
    letter-spacing: 2px;
  }

  .parallax {
    width: 420px;
  }

  .contacts-content {
    margin-top: 38px;
    margin-bottom: 0px;
    flex-direction: column;
  }

  .organization-name {
    margin-bottom: 40px;
  }

  .contact-info {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 19px;
  }

  .contact-link {
    font-size: 16px;
    line-height: 19px;
  }

  .map {
    margin-top: 25px;
    width: 380px;
    height: 248px;
  }

  .main-footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer-title {
    background-image: url("assets/svg/logo_420.svg");
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-name {
    padding-left: 50px;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 5px;
  }

  .footer-nav {
    margin-top: 35px;
    width: 380px;
  }

  .footer-nav-list {
    height: 90px;
    column-gap: 90px;
    column-width: 80px;
  }

  .footer-nav-item > .nav-link {
    font-size: 16px;
    line-height: 19px;
  }

  .social-icons > li {
    margin-right: 5px;
  }

  .social-icons > li:last-child {
    margin-right: 0px;
  }

  .social-links {
    margin-top: 15px;
    margin-left: 0px;
    align-items: center;
    justify-content: center;
  }

  .main-footer hr {
    height: 2px;
    border: none;
  }

  .footer-info {
    padding-top: 40px;
  }

  .footer-info-link, .footer-info-text {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 2px;
  }

  #first-footer-info-link {
    display: none;
  }

  .popup-form {
    width: 100%;
  }

  .full-form-container {
    width: 420px;
  }

  .form-container {
    width: 360px;
    height: 2322px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 75px 30px 28px 30px;
    overflow-y: scroll;
  }

  .form-title {
    font-size: 32px;
    line-height: 35px;
  }

  .boocking-info {
    max-width: 360px;
  }

  .info-form {
    width: 360px;
    margin-bottom: 50px;
  }

  .form-container > .boocking-info > hr {
    width: 100%;
    margin-bottom: 40px;
  }

  .popup-form input {
    width: 360px;
    height: 41px;
    border: 1px solid #030303;
    margin-bottom: 20px;
    -webkit-date-placeholder: none; 
  }

  .form-container > .boocking-info > hr {
    margin-bottom: 40px;
  }

  .data-time {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .data-time > input {
    padding: 0px;
    width: 323px;
    margin-bottom: 0px;
    margin-top: -30px;
  }
  
  #date {
    margin-bottom: 20px;
  }

  .ticket-type-select {
    width: 360px;
  }

  .ticket-counters-block {
    width: 330px;
  }

  .form-ticket-counters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-bottom: 5px;
  }

  .form-ticket-counters > .counter-label {
    margin-right: 50px;
  }

  .form-ticket-counters > .ticket-counter > input {
    padding-left: 5px;
    padding-right: 5px;
    width: 35px;
  }

  .pay-info {
    width: 330px;
    border: 1px solid #030303;
    padding: 25px 15px 26px 15px;
  }

  #visit-info-img {
    width: 120px;
    height: 96px;
  }

  .ticket-outcome {
    margin-top: 25px;
    padding-bottom: 5px;
  }

  .total-tickets-number {
    margin-bottom: 3px;
  }

  .total-tickets-number > input {
    height: 18px;
    margin-bottom: 0px;
  }

  .ticket-outcome > p {
    margin-bottom: 0px;
    width: 45%;
  }

  .total-tickets-number {
    width: 55%;;
  }

  .pay-form {
    margin: 0px auto;
    width: 330px;
    position: relative;
  }

  .pay-form input {
    width: 100%;
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
    padding-left: 10px;
    height: 35px;
    border: none;
    font-size: 12px;
    line-height: 14px;
    color: #161615;
  }

  .card-front,
  .card-back {
    position: relative;
    margin: 0px;
    margin-top: 15px;
    width: 330px;
    height: 209px;
  }

  .exp-container input {
    width: 85px;
  }

  #card-holder {
    width: 280px;
  }

  .card-back {
    margin-top: 25px;
    top: 0;
    padding-top: 5px;
    background-color: #939393;
  }

  .card-stripe {
    margin-top: 20px;
  }

  .cvc-container {
    left: 235px;
  }

  .book-button {
    margin-top: 40px;
    margin-left: 110px;
  }

  .close {
    top: 25px;
    right: 25px;
  }
}